body, .preloader, main{
    background: #f3f3f3;
}


h1, h2, h3, h4, h6 {
    color: #000;
}

header{
    mix-blend-mode: difference;
}

.demo-frame:before {
    border-top: solid 1px #00000030;
    border-left: solid 1px #00000030;
    border-right: solid 1px #00000030;
}

.demo-frame:after {
    color: #000;
}

.features .feature span {
    opacity: 0.6;
    color: rgb(0 0 0);
}

.scene {
    z-index: 0;
    opacity: .3;
    mix-blend-mode: difference;
}

.demo-frame img{
    border: solid 1px #00000030; 
}


.page-caption .title {
    font-weight: 400;
}

.demo-frame .caption, .preloader .percentage{
    color: #000;
}